<footer>
  <div class="foot">
  <a href="http://www.facebook.com">
    <i class="fab fa-facebook-f"></i>

  </a>
  <a href="http://www.twitter.com">
    <i class="fab fa-twitter"></i>

  </a>
  <a href="http://www.instagram.com">
    <i class="fab fa-instagram"></i>
  </a>
  </div>
</footer>
