<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>WELCOME TO YOUR COLLECTION</h1>
    <nav>
      <form action="/funko/new">
        <button type="submit" class="btn btn-secondary"><i class="fas fa-plus-circle"></i> ADD A NEW FUNKO</button>
  </form>
  <form action="/funko/wishlist">
    <button type="submit" class="btn btn-secondary"><i class="fas fa-arrow-circle-right"></i> GO TO WISHLIST</button>



    </nav>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/funko/sortByName">Sort By: A-Z</a>
          <a class="dropdown-item" href="/funko/sortByName2">Sort BY: Z-A</a>
          <a class="dropdown-item" href="/funko/sortByNumber">Sort By: Number</a>
        </div>
        </div>
      </header>
      <div class='main'>
<% for(let i = 0; i< funkos.length; i++){ %>
  <div class="pops">
  <h4> <%=funkos[i].name%> </h4>
  <a href="/funko/<%=funkos[i].id%>">
    <img src="<%=funkos[i].img%>">
  </a>
</div>
<%}%>
</div>
<footer>
  <% include ./partials/footer.ejs %>
</footer>
  </body>
</html>
