<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>WELCOME TO YOUR COLLECTION</h1>
    <nav>
      <form action="/funko/wishlist/new">
        <button type="submit" class="btn btn-secondary"><i class="fas fa-plus-circle"></i> ADD A NEW FUNKO</button>
  </form>
  <form action="/funko">
    <button type="submit" class="btn btn-secondary"><i class="fas fa-arrow-circle-right"></i> GO BACK TO COLLECTION </button>



    </nav>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/funko/wishlist/sortByName">Sort By: A-Z</a>
          <a class="dropdown-item" href="/funko/wishlist/sortByName2">Sort BY: Z-A</a>
          <a class="dropdown-item" href="/funko/wishlist/sortByNumber">Sort By: Number In Collection</a>
        </div>
        </div>
      </header>
<% for(let i = 0; i< wishes.length; i++){ %>
  <div class="pops"
  <h2><%=wishes[i].name%></h2>
  <a href="/funko/wishlist/<%=wishes[i].id%>">
    <img src="<%=wishes[i].img%>">
  </a>

</div>
<%}%>

<footer>
  <% include ./partials/footer.ejs %>
</footer>
  </body>
</html>
