<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <h1> Welcome To FUNKO COLLECT!</h1>
    <form action="/funko">
    <input type="submit" value="ENTER" />
</form>
  </body>
</html>
