<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <% include ./partials/head.ejs %>
  </head>
  <body>
<h1> ADD NEW POPS!</h1>
<form class="" action="/funko" method="POST">
<input type="text" name="img" placeholder="IMG" />
<input type="text" name="name" placeholder="NAME" />
<input type="text" name="popType" placeholder="POP TYPE" />
<input type="text" name="numberInCollection" placeholder="NUMBER IN COLLECTION" />
<input type="text" name="value" placeholder="VALUE" />
<input type="text" name="collection_" placeholder="COLLECTION" />
<input type="text" name="qty" placeholder="QTY">
<input type="submit" name="" value="ADD POPS!">
</form>
  </body>
</html>
