header{
  display: flex;
  flex-direction: row;
  background-color: #6c757d;
  color: #FCFCFC;
  height: 80px;
  padding-top: 15px;
}
nav{
  display: flex;
  flex-direction: row;
  margin-right: 250px;
}
header h1 {
  padding-right: 300px;
}
a{
  width: 100%;
  height: 80%;
}
.main{
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
body {
font-family: "roboto";
color:white;
background-image: url('/817-Funko-b.jpg');
background-size: cover;
text-align: center;

}
.form{
  width: 40%;
  margin: 0 auto;
  color: white;
}
.front{
  height: 100vh;
  background-image: url('/funko_hq_front.jpg');
  background-size: cover;
  color: #6c757d;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.enter {
padding-top: 265px;
}
.enter h1 {
  font-size: 100px;
}
.enter button{
  width: 300px;
  height: 100px;
  font-size: 30px;
}
.pops{
margin: 0 auto;
height: 320px;
width: 400px;
border-radius: 5%;
box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.35);
border: 3px solid #6c757d;
margin: 1%;
background-color: #61ABFF;
display:flex;
flex-direction: column;
}

.pop {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  height: 485px;
  width: 320px;
  border-radius: 5%;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.35);
  border: 3px solid #6c757d;
  margin: 1%;
  background-color: #61ABFF;
}
.next{
  display: flex;
  justify-content: center;
}
footer {
  word-spacing: 5px;
  text-align: center;
  color: white;
  height: 70px;
}
.foot a{
    color: ;
    padding-top: 20px;
}
.foot{
  color:#61ABFF;
  padding-top: 25px;
}
